@import 'nib'

.backing
  background-color #ffffff 

.header
  background-color #ffffff
  color black
  line-height 50px
  font-size x-large
  padding-left 10px
  
.footer
  background-color #ffffff
  color black
  line-height 50px
  font-size x-large
  padding-left 10px


.bg-red 
  background-color red

.bg-blue 
  background-color blue

.bg-green 
  background-color green

.centered 
  text-align center
  font-size large
  color #000000
  line-height 30px
  border-top solid #979797 
  border-top-width 1px
  border-left solid #979797 
  border-left-width 1px
  padding-top 1%
  font-family raleway
  font-weight Regular
  font-size 20px
  padding-bottom 1%
  
.centeredHeader
  text-align center
  font-size large
  color #000000
  line-height 30px
  padding-top 1%
  font-family raleway
  font-weight Regular
  font-size 20px
  padding-bottom 1%