@import 'nib'

.backing
  background-color #ffffff 

.header
  background-color #ffffff
  color black
  line-height 50px
  font-size x-large
  padding-left 10px
  
.footer
  background-color #ffffff
  color black
  line-height 50px
  font-size x-large
  padding-left 10px

.footer-border
  border-top solid #979797 
  border-top-width 1px
  border-left solid #979797 
  border-left-width 1px 

.bg-red 
  background-color #ffb2b2

.bg-blue 
  background-color #b2b2ff

.bg-green 
  background-color #b2d8b2

.centered 
  text-align center
  font-size large
  color #000000
  line-height 15px
  padding-top 0.5%
  font-family raleway
  font-weight Bold
  font-size 100%
  padding-bottom 2%


.centeredHeader
  text-align center
  font-size large
  color #000000
  line-height 30px
  padding-top 1%
  font-family raleway
  font-weight Regular
  font-size 20px
  padding-bottom 1%
  


#eventName 
     text-align center
     border-radius 35px
     border-style solid 
     border-color #979797
     color #7e7e7e
     font-size large
     font-family raleway
     font-weight Regular
     padding 5px
     width 85%
     height 100%
     border-width 1px
     font-weight normal
     
#eventName:focus 
    outline none

.tickIcon
    display none

#eventCreate
    height 100%

.eventCreateLabel
    position absolute
    
.eventCreateClass
    display none

.event-create-event-name
    margin-top 10px
    text-align center
    font-family raleway
    font-weight light

.toggleEventNameInput
    display none

.footerBacking
    background-color white
